.custom-btn {
    padding: 0.625rem 1.25rem; /* 10px 20px */
    border-radius: 70px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 12.5rem; /* 200px */
    white-space: nowrap;
}

.custom-btn svg {
    margin-left: 0.625rem; /* 10px */
}

.card-responsive {
    width: 100%;
    max-width: 50rem;
}

@media (max-width: 37.5rem) { /* 600px */
    .card-responsive {
        padding: 0.1rem;
    }

    .card-header {
        font-size: 0.5rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.84rem;
    }

    .custom-btn {
        font-size: 0.875rem;
    }
}

.card1-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    border-radius: 70px;
}

.card1 {
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 1rem;
}

.card1-header {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card1-body {
    padding: 1rem;
}

.card1-title {
    font-size: 1.5rem;
    color: #333;
}

.card1-text {
    color: #6c757d;
}

.card1-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem 1.25rem;
    border-radius: 50px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
    text-decoration: none;
}

.card1-btn:hover {
    transform: scale(1.05);
}

.card1-btn svg {
    margin-left: 0.625rem;
}
