.card-wrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s;
  height: 250px; /* Set a fixed height for the cards */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem; /* Add some space between cards */
  flex: 1 1 calc(33.333% - 1rem); /* Adjust the width of each card */
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-icon {
  height: 100px;
  width: 100px;
}

/* Media query for small devices */
@media (max-width: 600px) {
  .card-wrapper {
    width: 100%;
    flex-direction: column;
  }

  .card {
    height: auto; /* Allow the card height to adjust based on content */
    margin-bottom: 1rem; /* Add some space between cards */
    flex: 1 1 100%; /* Make each card take full width */
  }

  .card-icon {
    height: 80px;
    width: 80px;
  }

  .card-body {
    font-size: 0.875rem; /* Adjust font size for better readability */
  }
}

/* Media query for medium devices */
@media (max-width: 1024px) {
  .card {
    height: 200px; /* Make the cards a bit smaller */
    flex: 1 1 calc(50% - 1rem); /* Adjust the width of each card */
  }

  .card-icon {
    height: 90px;
    width: 90px;
  }

  .card-body {
    font-size: 1rem; /* Adjust font size for better readability */
  }
}
