.nd-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 89%;
    overflow: hidden;
    display: flex;
    transition: all 0.5s ease;

}

.nd-card-title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
}

.card-img-top{
    height: 100%;
    width: auto;
}
    
